# {{ ansible_managed }}
# global settings

[global]
newrelic_license_key={{ nginx_nra_license_key }}
poll_interval=60

# logging settings
[loggers]
keys=root

[handlers]
keys=consoleHandler,fileHandler

[formatters]
keys=simpleFormatter

[logger_root]
level={{ nginx_nra_level_logger }}
handlers=consoleHandler,fileHandler

[handler_consoleHandler]
class=StreamHandler
level={{ nginx_nra_level_console_handler }}
formatter=simpleFormatter
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
level={{ nginx_nra_level_file_handler }}
formatter=simpleFormatter
args=('{{ nginx_nra_logfile }}','a',)

[formatter_simpleFormatter]
format=%(asctime)s %(name)s [%(levelname)s]: %(message)s
datefmt=

# data sources settings

[source1]
name={{ nginx_nra_name }}
url=http://127.0.0.1/stub_status
